.body {
	background: url(http://data.hdwallpapers.im/minimalistic_technology_circuits_wide_mobile.jpg);
}
.nav a {
  color: #000000;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}
.nav li {
  display: inline;
}
.jumbotron .container h2 {
	font-family: 'Bookman Old Style';
	font-size: 78px;
	text-align: center;
	text-transform: uppercase;
}
.jumbotron .container h3 {
	font-size: 36px;
	text-align: center;
}
.jumbotron .container p  {
	font-family: 'Bookman Old Style';
	font-size: 36px;
	color: #000080;
}